
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: start; 
    min-height: 100vh;
    margin: 20px 0; 
    background-color: #f4f4f4;
}

.calendar-container {
    width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}


.month-heading {
    text-align: center;
    color: #cc9900; 
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;

.calendar-table {
    width: 100%;
    border-collapse: collapse; 
}


.calendar-table thead th {
    background-color: #800040; 
    color: white;
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #000; 
}


.calendar-table tbody td {
    padding: 15px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
    border: 1px solid #000; 
    height: 50px; 
}


.empty-cell {
    
    color: transparent; 
}