body{
    font-family: monospace;
    background-color: #ffffff;
    margin: 0;
    padding: 40px 0;
    
}
.mygallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 60px;
    margin: auto;
    text-align: center;
    max-width: 1000px;
}
.team1{
    padding: 30px 10px;

}
.team1.highlight{
    background-color: #f3f3f3;
    border-radius: 6px;

}
.team1 img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}
.team1 h3{
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0 5px;

}

.team1 p{
    margin: 0;
    font-size: 14px
}

