.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
    gap: 10px;
}
.item{
    background-color: red;
    font-size: 20px;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;

}
.container1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;

}
.item1{
    background-color: brown;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: aliceblue;

}
.container2{
    display: grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: 50px;
    gap: 10px;
}
.item2{
    background-color: chocolate;
    font-size: 25px;
    text-align: center;
    color: aliceblue;

}
.container3{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 10px;
}
.item3{
    background-color: darkred;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}