.box{
    background-color: cornsilk;
    padding: 20px;
    border: 3px dotted pink;
    min-width: 200px;
    max-width: 400px;

/*height*/
min-height:150px;
/*height limit*/
max-height:250px;
overflow:auto;

margin:auto;
}