.box{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aqua;
}
/*tablet and above screen*/
@media(min-width:600px){
    .box{
        background-color: cadetblue;
        font-family: monospace;
        font-style: italic;
    }
    
}
/*desktop*/
@media(min-width:900px) {
    .box{
        background-color: brown;
        font-family: fantasy;
        
    }
    
}
/*mobile first column*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
}
.item{
    background-color: chocolate;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;

}
/*tablet*/
@media(min-width:600px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        background-color: bisque;
    }
    
}
/*desktop*/
@media(min-width:900px) {
    .container{
        grid-template-columns: repeat(3,1fr);
        background-color: red;
    }
    
}