#header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: bolder;
    color: floralwhite;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 600;
    text-decoration: underline;
    font-size: 20px;

} 
li{
    list-style-type: none;
    padding:2%;
    
}
body{
    background-color: burlywood;
}
ol{
    text-align: right;
}