.menu{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
/*tablet*/
@media(min-width:600px){
    .menu{
        background-color: aquamarine;
        flex-direction: row;
        justify-content: space-between;

    }
}
/*desktop*/
@media(min-width:900px){
    .menu a{
        background-color: burlywood;
        color: blueviolet;
        font-size: 25px;
    }
}



