#box1{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box1{
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box2{
    background-color: chartreuse;
}