body{
    background-position: center;
    background-size: contain;
    background-image: url(bg\ image.png);

}
#about{
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    line-height: 1.7;
    text-decoration: underline;
}
#education{
    font-family: fantasy;
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
    line-height: 1.7;
    text-decoration: inherit;
}
    
#skills{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    line-height: 1.6;
    text-decoration: underline;
}
#projects{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
    line-height: 1.7;
    text-decoration: line-through;
}
#contact{
    font-style: normal;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: cornflowerblue;
}
nav{
    font-weight: bolder;
}