* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: pink;
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: rgba(0, 0, 0, 0.55);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffa500;
}

.nav-links a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.btn {
    background: #ffa500;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    background: rgba(0, 0, 0, 0.6);
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 25px;
}

.hero-text p {
    width: 80%;
    margin-bottom: 25px;
    font-size: 16px;
}

.hero-img img {
    width: 430px;
    border-radius: 20px;
    background: white;
    padding: 20px;
}
